<div class="contenedor-general">
  <div class="contenedor-izquierdo">
    <div class="contenedor-imagen"></div>
    <div class="texto-izquierdo-1">Miles de usuarios ya nos eligen</div>

    <div class="texto-izquierdo-2">¡Es tu turno!</div>
  </div>
  <div class="contenedor-derecho">
    <div class="texto-derecho">Crea tu cuenta</div>
    <div class="contenedor-formulario">
      <form (submit)="userRegister()">
        <div class="selectores">
          <label class="labels">Nombre:</label>
          <input
            type="text"
            name="name"
            [(ngModel)]="user.name"
            class="selector-input"
            placeholder="¿Cual es tu nombre?"
          />
        </div>

        <div class="selectores">
          <label class="labels">Tipo de documento:</label>

          <select
            name="tipoDocumento"
            [(ngModel)]="user.tipoDocumento"
            class="selector-input"
            placeholder="DNI"
          >
            <option value="DNI">DNI</option>
            <option value="Pasaporte" selected>Pasaporte</option>
          </select>
        </div>

        <div class="selectores">
          <label class="labels">Numero de documento:</label>
          <input
            type="number"
            name="numDocumento"
            [(ngModel)]="user.numDocumento"
            class="selector-input"
            placeholder="20123456"
          />
        </div>

        <div class="selectores">
          <label class="labels">Contraseña:</label>
          <input
            type="password"
            name="password"
            [(ngModel)]="user.password"
            class="selector-input"
            placeholder="********"
          />
        </div>

        <button type="submit" class="boton-submit">Crear cuenta</button>
      </form>
    </div>
    <a routerLink="/login" class="link"
      >¿Ya tienes cuenta? <b>Inicia Sesión</b></a
    >
  </div>
</div>
